<div class="page">
    <div class="page__content">
        <h1 class="list__title">To-do list</h1>
        <div class="input__block">
            <input type="text" class="input" placeholder="Введіть задачу...">
            <button class="button">Додати</button>
        </div>
        <main class="list__block"></main>
    </div>
</div>

<template id="task">
    <div class="list">
        <p class="number__task">1.</p>
        <p class="text__task">Some placeholder content in a paragraph below the heading and date.</p>
        <button class="button__task button__task--do"></button>
        <button class="button__task button__task--cancel"></button>
    </div>
</template>
